body, p, h1, h2
{ margin: 10px;
  padding: 5px 0;
  font-family: verdana, arial, sans-serif }

p
{ padding: 5px 15px }

h1, h2
{ font-family: Georgia, sans-serif }

body
{ font-size: 1em;
  padding: 5% 10% }

.invisible, hr
{ margin: 0;
  padding: 0;
  visibility: hidden }

h1
{ font-size: 2.4em;
  color: #996666 }

h2
{ font-size: 1.4em;
  color: #990000 }

div
{ margin: 0;
  padding: 0;
  max-width: 700px }

a
{ text-decoration: none;
  border-bottom: 1px dotted black }

a:link
{ color: #ff0000 }

a:visited
{ color: #993333 }

a:hover, a:active
{ border-bottom: solid 1px black }
